# This is a reusable workflow that allows you to run release-please using GitHub Actions.
name: Release Please

# Define the event that triggers the workflow.
# This workflow is triggered by a workflow call event.
on:
  workflow_call:
    outputs:
      tag_name:
        description: 'The tag name created by release-please'
        value: ${{ jobs.release.outputs.tag_name }}
      prs_created:
        description: 'Whether PRs were created'
        value: ${{ jobs.release.outputs.prs_created }}
      releases_created:
        description: 'Whether releases were created by release-please'
        value: ${{ jobs.release.outputs.releases_created }}

# Define the jobs that run in the workflow.
jobs:
  release:
    name: Release Please
    runs-on: ubuntu-22.04

    # Define outputs for the job.
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      prs_created: ${{ steps.release.outputs.prs_created }}
      releases_created: ${{ steps.release.outputs.releases_created }}
    
    # Define the steps that run in the job.
    steps:
      # Step 1: Checkout repository with full history.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for release-please.

      # Step 2: Create GitHub Token.
      - name: Create GitHub Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_SECRET }}

      # Step 3: Run release-please-action to create releases or prs.
      - name: Create Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      # Step 4: Debug outputs.
      - name: Debug Release
        run: |
          echo "prs_created: ${{ steps.release.outputs.prs_created }}"
          echo "releases_created: ${{ steps.release.outputs.releases_created }}"
          echo "version: ${{ steps.release.outputs.version }}"
          echo "tag_name: ${{ steps.release.outputs.tag_name }}"
          echo "sha: ${{ steps.release.outputs.sha }}"